<aside>
  <div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <li>
        <a class="active" href="/">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li>
        <%= link_to codes_path do  %>
            <i class="fa fa-laptop"></i>
            <span>Codigos</span>
        <% end %>
      </li>



      <li class="sub-menu">


        <%= link_to languages_path do  %>
            <i class="fa fa-book"></i>
            <span>Idiomas</span>
        <% end %>

      </li>

     

    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>